# Intellij
.idea
*.iml
*.iws
*.ipr

# Mac
.DS_Store

# Maven
target

# log
*.log
log.txt
app/test/velocity.log.1
logs/


# other
dist
.metadata
*.cmd
*_res.yaml


# Eclipse
.classpath
.project
.settings
